@{
    ViewData["Title"] = "Homey home";
    var photoFilenames = ViewData["PhotoFilenames"] as string[];
    var recipeUrls = ViewData["RecipeUrls"] as Dictionary<string, string>;
}

<div>
    <div class="text-center" id="cornHeader">
        <img src="~/images/cornIsForLovers.png" class="img-fluid" alt="Text that reads Corn is for Lovers" />
    </div>

    <div class="text-center">
        <p>Learn about <a id="links" href="https://www.lhf.org/learning-fields/crops/corn/#:~:text=Corn%20comes%20from%20a%20wild,the%20corn%20we%20know%20today.">CORN</a>!</p>
    </div>

    <div class="main_box">
        @foreach (var filename in photoFilenames)
        {
            var recipeUrl = recipeUrls[filename];
            <div class="img" style="background-image: url('../images/@filename');" onclick="location.href = '@Url.Action("RedirectToRecipe", "Home", new { recipeUrl = recipeUrl })';">
                <!-- Optional: Add a caption or description for each photo -->
            </div>
        }
    </div>
</div>