@{
    ViewData["Title"] = "Homey home";
}

<div>
    <div class="text-center" id="cornHeader">
        <img src="~/images/cornIsForLovers.png" class="img-fluid" alt="Text that reads Corn is for Lovers" />
    </div>
    <div>
        <p class="lead">Learn about <a id="links" href="https://www.lhf.org/learning-fields/crops/corn/#:~:text=Corn%20comes%20from%20a%20wild,the%20corn%20we%20know%20today.">CORN</a>!</p>
    </div>

    <div class="main_box">
        <div class="img img1" onclick="location.href = '/Home/BoiledCone';">

        </div>
        <div class="img img2" onclick="location.href = '/Home/GrilledCone';">


        </div>
        <div class="img img3" onclick="location.href = '/Home/ConeDog';">


        </div>
        <div class="img img4" onclick="location.href = '/Home/PoppedCone';">


        </div>
    </div>

</div>

