@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Corn is for lovers!</h1>
    <p>Learn about <a href="https://www.lhf.org/learning-fields/crops/corn/#:~:text=Corn%20comes%20from%20a%20wild,the%20corn%20we%20know%20today.">CORN</a>!</p>
</div>

